.body {
  background-image: url("../assets/koodarijahti_tausta_tre.jpg");
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img {
  max-width: 20%;
  height: auto;
}

.btn.btn-primary.btn-block {
  background-color: #c53e28;
}
.center {
  margin: auto;
}
